/* Estilos generales para el Home */
.home-container {
    display: flex;
    height: 90vh;
    width: 90vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85);
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: rgba(98, 21, 24, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin: 10px 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.sidebar .onpe-logo {
    width: 80%;
    margin-bottom: 20px;
    
}

.sidebar-button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebar-button:hover {
    background-color: #524daf;
    transform: scale(1.05);
}

/* Main content */
.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Card container */
.card-container {
    display: flex;
    justify-content: center;
    gap: 100px;  /* Espacio más grande entre las tarjetas */
    margin-bottom: 20px;
}

/* Cards */
.card {
    width: 250px;  /* Ancho de la tarjeta */
    height: 350px;  /* Alto de la tarjeta */
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    border: 2px solid transparent;
    padding: 20px;
    position: relative;  /* Necesario para posicionar el texto de manera absoluta */
}


.card:hover {
    transform: scale(1.05);
    background-color: rgba(108, 99, 255, 0.1);
}


/* Imagen Innova */
.card-logo_innova {
    width: 170px;  /* Tamaño estándar */
    height: auto;  /* Mantener la proporción */
    margin-bottom: 10px;  /* Separar la imagen del texto */
    margin-top: center;  /* Mover hacia arriba */
}

/* Imagen Hagamos */
.card-logo_hagamos {
    width: 220px;  /* Tamaño estándar */
    height: auto;  /* Mantener la proporción */
    margin-bottom: 10px;  /* Separar la imagen del texto */
    margin-top: center  /* Mover hacia arriba */
}

/* Imagen Código Fisiano */
.card-logo_codigofisiano {
    width: 210px;  /* Tamaño estándar */
    height: auto;  /* Mantener la proporción */
    margin-bottom: 10px;  /* Separar la imagen del texto */
    margin-top: center;  /* Mover hacia arriba */
}



.card .text {
    position: absolute;
    left: 50%;  /* Centrar el texto horizontalmente */
    bottom: 40px;  /* Colocar el texto a 20px desde la parte inferior */
    transform: translateX(-50%);  /* Ajustar para que el centro del texto esté en el centro de la tarjeta */
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.card p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Selected card */
.card.selected {
    border-color: #6c63ff;
    background-color: rgba(108, 99, 255, 0.2);
}

/* Vote button */
.vote-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.vote-button:hover {
    background-color: #45a049;
}

/* Error message */
.error-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}
